.wrapper {
	max-width: 1245px;
	padding: 0 30px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.wrapper {
		/* max-width: 1000px; */
		margin: 0 auto;
	}
}

.flex {
	display: flex;
}
/* HEADER */
.header-container {
	width: 100%;
	background-color: #18568f;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-left {
	margin-right: 10px;
}

.header-left a {
	display: block;
}

.header-left img {
	margin: 10px 10px 10px 0;
}

.header-nav {
	display: flex;
	margin: 28px 30px 28px 0;
}

.header-nav-item {
	font-size: 14px;
	color: #fff;
	padding: 0 25px;
}

.header-nav-item a {
	color: #fff;
	line-height: initial;
}

@media (max-width: 960px) {
	.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.header-nav {
		display: none;
	}

	.nav-burger {
		display: block;
	}
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 10px;
		margin: 0 auto;
	}
}

.header-contact a {
	display: block;
	font-size: 20px;
	margin: 25px 0;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}

.header-right {
	display: flex;
	justify-content: flex-end;
}

.nav-burger {
	display: none;
}

.nav-burger-bar_1,
.nav-burger-bar_2,
.nav-burger-bar_3 {
	width: 25px;
	height: 3px;
	margin: 6px 0;
	background-color: #fff;
	transition: 0.2s;
}

.change .nav-burger-bar_1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .nav-burger-bar_2 {
	opacity: 0;
}

.change .nav-burger-bar_3 {
	transform: rotate(45deg) translate(-6px, -7px);
}

@media (max-width: 960px) {
	.header-left {
		flex-grow: 1;
	}
	.header-right {
		justify-content: flex-end;
	}
	.header-contact {
		margin-right: 20px;
	}
	.nav-burger {
		display: block;
		align-self: center;
		margin: 0 10px;
	}
}

@media (max-width: 425px) {
	.header {
		flex-wrap: wrap;
	}

	.header-right {
		order: 3;
	}

	.header-contact a {
		margin: 10px 0;
	}
}
/* HEADER END	*/

/* HERO */

.hero {
	min-height: 500px;
	position: relative;
}

.hero-container {
	background-color: #18568f;
	/* background: url(../images/hero-bg.jpg) 100% 0 no-repeat #165085; */
	background: url(../images/hero-bg.jpg) 90% 82%/273% no-repeat #165084;
}

.hero-dude {
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
}

.hero-screamer {
	font-family: 'PFCentroSlabPro-Bold';
	color: #ffffff;
}

.hero-screamer.lg {
	font-size: 36px;
	display: none;
}

.hero-screamer.sm {
	font-size: 28px;
	padding: 10px 0;
}

.hero-screamer_emph {
	color: #ff7f20;
}

.hero-infograph {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 20px 0;
}

.hero-infograph-item {
	display: flex;
}

.hero-infograph-item-pic {
	display: flex;
	/* justify-content: space-around; */
	flex-direction: column-reverse;
	/* justify-content: space-around; */
}

.hero-infograph-item-pic img {
	align-self: flex-end;
}

.hero-infograph-item-pic.lg {
	display: none;
}

.hero-infograph-item-text {
	font-family: 'CynthoNext-Regular';
	color: #ffffff;
	display: block;
	/* justify-content: space-evenly; */
}

.hero-infograph-item-text.lg {
	font-size: 20px;
	display: none;
	padding-top: 4px;
	line-height: 24px;
}

.hero-infograph-item-text.sm {
	font-size: 13px;
}

.hero-btn-container {
	display: flex;
	justify-content: space-around;
}

.hero-btn {
	flex-grow: 1;
}

.hero-btn a {
	font-family: 'CynthoNext-Regular';
	color: #ffffff;
	background-color: #ff7f20;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 15px 15px;
}

.hero-btn.lg {
	font-size: 22px;
	display: none;
}

.hero-btn.sm {
	font-size: 18px;
}

.hero-dude-large {
	display: none;
}

@media (min-width: 768px) {
	.hero-container {
		background-color: #18568f;
		background: url(../images/hero-bg.jpg) 100% 0 no-repeat #165085;
	}

	.hero-btn.lg {
		display: block;
	}

	.hero-btn.sm {
		display: none;
	}

	.hero-screamer {
		padding: 40px 0;
	}

	.hero-screamer.sm {
		display: none;
	}

	.hero-screamer.lg {
		display: block;
	}

	.hero-infograph {
	}

	.hero-infograph-item-pic.lg {
		display: flex;
	}

	.hero-infograph-item-pic.sm {
		display: none;
	}

	.hero-infograph-item-text.lg {
		display: flex;
	}

	.hero-infograph-item-text.sm {
		display: none;
	}

	.hero-btn a {
		padding: 15px 40px;
		width: fit-content;
	}
}

@media (min-width: 769px) {
	.hero-infograph {
		max-width: 720px;
		justify-content: flex-start;
	}

	.hero-infograph-item {
		padding-right: 50px;
	}
}

@media (min-width: 920px) {
	.hero-dude {
		display: none;
	}

	.hero-dude-large {
		display: block;
		position: absolute;
		top: 7%;
		left: 56%;
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.hero-btn.sm {
		max-width: 500px;
	}
}

@media (min-width: 575px) {
	.hero-infograph-item-pic.lg {
		display: flex;
	}

	.hero-infograph-item-pic.sm {
		display: none;
	}

	.hero-infograph-item-text.lg {
		display: flex;
	}

	.hero-infograph-item-text.sm {
		display: none;
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.hero-btn.sm {
		max-width: 500px;
	}
}

@media (min-width: 320px) and (max-width: 340px) {
	.hero-infograph {
		flex-wrap: wrap;
	}
}
/* HERO END*/

/* ASK */

.ask-container {
	padding: 75px 0;
}

.ask-header {
	font-family: 'PFCentroSlabPro-Bold';
	font-size: 24px;
	color: #ff8416;
	margin-bottom: 25px;
}

.ask-text {
	font-family: 'CynthoNext-Regular';
	font-size: 16px;
	color: #525252;
	margin-bottom: 35px;
}

.ask-btn {
	display: flex;
	position: absolute;
}

.ask-btn a {
	font-family: 'CynthoNext-Regular';
	font-size: 12px;
	color: #007ed0;
	border: 1px solid #007ed0;
	padding: 10px 10px;
	text-align: center;
	display: block;
	border-radius: 5px;
}

.ask-chick {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	bottom: -121px;
	left: 190px;
}
/* ASK END*/

/* FOOTER */

.footer.wrapper {
	padding: 0 10px;
	margin: 0 auto;
}

.footer-container {
	width: 100%;
	background-color: #18568f;
}

.footer-upper {
	padding-top: 20px;
}
.footer a {
	color: #fff;
	display: block;
}

.footer-business-card-logo,
.footer-business-card-logo img {
	max-width: 150px;
}

.footer-business-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer-business-card-logo {
	display: inline-block;
}

.footer-business-card-contacts {
	font-family: 'CynthoNext-Regular';
	font-size: 9px;
	display: inline-block;
}

.footer-business-card-contacts-header {
	font-family: 'CynthoNext-Regular';
	font-size: 12px;
	color: #ffffff;
	display: block;
	padding-bottom: 5px;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links-block {
	/* max-width: 250px; */
	min-width: 150px;
	margin: 10px auto;
}

.footer-links-block a {
	font-family: 'CynthoNext-Regular';
	font-size: 11px;
	line-height: 24px;
}

.footer-links-block-header {
	font-family: 'CynthoNext-Medium';
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.footer-disclaimer {
	padding-bottom: 20px;
	max-width: 700px;
}

.footer-disclaimer-header {
	font-family: 'CynthoNext-Medium';
	font-size: 10px;
	font-weight: bold;
	color: #9badc5;
}

.footer-disclaimer p {
	font-family: 'CynthoNext-Regular';
	font-size: 10px;
	color: #9badc5;
}

@media (min-width: 768px) {
	.footer.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.footer-business-card {
		display: inline-block;
	}

	.footer-business-card-logo {
		display: block;
	}

	.footer-upper {
		display: flex;
		justify-content: space-between;
	}
	.footer-links {
		justify-content: flex-end;
	}

	.footer-links-block {
		max-width: 250px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
}
/* FOOTER END */
/* html div {
	border: 1px solid rgb(136, 17, 17);
} */
