.wrapper {
	max-width: 1245px;
	padding: 0 30px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.wrapper {
		/* max-width: 1000px; */
		margin: 0 auto;
	}
}

.flex {
	display: flex;
}
/* HEADER */
.header-container {
	width: 100%;
	background-color: #18568f;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-left {
	margin-right: 10px;
}

.header-left a {
	display: block;
}

.header-left img {
	margin: 10px 10px 10px 0;
}

.header-nav {
	display: flex;
	margin: 28px 30px 28px 0;
}

.header-nav-item {
	font-size: 14px;
	color: #fff;
	padding: 0 25px;
}

.header-nav-item a {
	color: #fff;
	line-height: initial;
}

@media (max-width: 960px) {
	.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.header-nav {
		display: none;
	}

	.nav-burger {
		display: block;
	}
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 10px;
		margin: 0 auto;
	}
}

.header-contact a {
	display: block;
	font-size: 20px;
	margin: 25px 0;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}

.header-right {
	display: flex;
	justify-content: flex-end;
}

.nav-burger {
	display: none;
}

.nav-burger-bar_1,
.nav-burger-bar_2,
.nav-burger-bar_3 {
	width: 25px;
	height: 3px;
	margin: 6px 0;
	background-color: #fff;
	transition: 0.2s;
}

.change .nav-burger-bar_1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .nav-burger-bar_2 {
	opacity: 0;
}

.change .nav-burger-bar_3 {
	transform: rotate(45deg) translate(-6px, -7px);
}

@media (max-width: 960px) {
	.header-left {
		flex-grow: 1;
	}
	.header-right {
		justify-content: flex-end;
	}
	.header-contact {
		margin-right: 20px;
	}
	.nav-burger {
		display: block;
		align-self: center;
		margin: 0 10px;
	}
}

@media (max-width: 425px) {
	.header {
		flex-wrap: wrap;
	}

	.header-right {
		order: 3;
	}

	.header-contact a {
		margin: 10px 0;
	}
}
/* HEADER END	*/

/* HERO */

.hero {
	min-height: 500px;

	/* background-size: 100% cover; */
	/* background-repeat: no-repeat; */
	/* background-image: url(../images/hero-bg.jpg); */
	/* background: url(../images/hero-bg.jpg) 100% 70px no-repeat fixed; */
	/* background-position: bottom left; */
	/* background-position: center; */
	/* background-size: 100% auto; */
}

.hero-container {
	background-color: #18568f;
	background: url(../images/hero-bg.jpg) 100% 70px no-repeat fixed;
}

.hero-screamer {
	font-family: 'PFCentroSlabPro-Bold';
	color: #ffffff;
}

.hero-screamer.lg {
	font-size: 36px;
	display: none;
}

.hero-screamer.sm {
	font-size: 28px;
}

.hero-screamer_emph {
	color: #ff7f20;
}

.hero-infograph {
	display: flex;
	flex-wrap: wrap;
}

.hero-infograph-item {
	display: flex;
}

.hero-infograph-item-pic.lg {
	display: none;
}

.hero-infograph-item-text {
	font-family: 'CynthoNext-Regular';
	color: #ffffff;
}

.hero-infograph-item-text.lg {
	font-size: 20px;
	display: none;
}

.hero-infograph-item-text.sm {
	font-size: 13px;
}

.hero-btn-container {
	max-width: 440px;
}

.hero-btn {
	font-family: 'CynthoNext-Regular';
	color: #ffffff;
	background-color: #ff7f20;
	border-radius: 10px;
}

.hero-btn.lg {
	font-size: 22px;
	padding: 15px 35px;
	display: none;
}

.hero-btn.sm {
	font-size: 18px;
	padding: 15px 35px;
}

@media (min-width: 768px) {
	.hero-btn.lg {
		display: block;
	}

	.hero-btn.sm {
		display: none;
	}

	.hero-screamer.sm {
		display: none;
	}

	.hero-screamer.lg {
		display: block;
	}

	.hero-infograph-item-pic.lg {
		display: block;
	}

	.hero-infograph-item-pic.sm {
		display: none;
	}

	.hero-infograph-item-text.lg {
		display: block;
	}

	.hero-infograph-item-text.sm {
		display: none;
	}
}
/* HERO END*/

/* FOOTER */

.footer.wrapper {
	padding: 0 10px;
	margin: 0 auto;
}

.footer-container {
	width: 100%;
	background-color: #18568f;
}

.footer-upper {
	padding-top: 20px;
}
.footer a {
	color: #fff;
	display: block;
}

.footer-business-card-logo,
.footer-business-card-logo img {
	max-width: 150px;
}

.footer-business-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer-business-card-logo {
	display: inline-block;
}

.footer-business-card-contacts {
	display: inline-block;
}

.footer-business-card-contacts-header {
	font-size: 12px;
	color: #ffffff;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links-block {
	max-width: 250px;
	min-width: 150px;
	margin-bottom: 10px;
}

.footer-links-block:last-child {
	padding-right: 0;
}

.footer-links-block a {
	font-size: 11px;
}

.footer-links-block-header {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.footer-disclaimer {
	padding-bottom: 20px;
	max-width: 700px;
}

.footer-disclaimer-header {
	font-size: 10px;
	font-weight: bold;
	color: #9badc5;
}

.footer-disclaimer p {
	font-size: 10px;
	color: #9badc5;
}

@media (min-width: 768px) {
	.footer.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.footer-business-card {
		display: inline-block;
	}

	.footer-business-card-logo {
		display: block;
	}

	.footer-upper {
		display: flex;
		justify-content: space-between;
	}
	.footer-links {
		justify-content: flex-end;
	}

	.footer-links-block {
		max-width: 250px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.footer-links-block:last-child {
		padding-right: 0;
	}
}
/* FOOTER END */
