.wrapper {
	max-width: 1245px;
	padding: 0 30px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.flex {
	display: flex;
}
/* HEADER */
.header-container {
	width: 100%;
	background-color: #18568f;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-left {
	margin-right: 10px;
}

.header-left a {
	display: block;
}

.header-left img {
	margin: 10px 10px 10px 0;
}

.header-nav {
	display: flex;
	margin: 28px 30px 28px 0;
}

.header-nav-item {
	font-size: 14px;
	color: #fff;
	padding: 0 25px;
}

.header-nav-item a {
	color: #fff;
}

@media (max-width: 960px) {
	.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.header-nav {
		display: none;
	}

	.nav-burger {
		display: block;
	}
}

@media (max-width: 767px) {
	.wrapper {
		padding: 0 10px;
		margin: 0 auto;
	}
}

.header-contact a {
	display: block;
	font-size: 20px;
	margin: 25px 0;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}

.header-right {
	display: flex;
	justify-content: flex-end;
}

.nav-burger {
	display: none;
}

.nav-burger-bar_1,
.nav-burger-bar_2,
.nav-burger-bar_3 {
	width: 25px;
	height: 3px;
	margin: 6px 0;
	background-color: #fff;
	transition: 0.2s;
}

.change .nav-burger-bar_1 {
	transform: rotate(-45deg) translate(-6px, 6px);
}

.change .nav-burger-bar_2 {
	opacity: 0;
}

.change .nav-burger-bar_3 {
	transform: rotate(45deg) translate(-6px, -7px);
}

@media (max-width: 960px) {
	.header-left {
		flex-grow: 1;
	}
	.header-right {
		justify-content: flex-end;
	}
	.header-contact {
		margin-right: 20px;
	}
	.nav-burger {
		display: block;
		align-self: center;
		margin: 0 10px;
	}
}

@media (max-width: 425px) {
	.header {
		flex-wrap: wrap;
	}

	.header-right {
		order: 3;
	}
}
/* HEADER END	*/

/* FOOTER */

.footer.wrapper {
	padding: 0 10px;
	margin: 0 auto;
}

.footer-container {
	width: 100%;
	background-color: #18568f;
}

.footer-upper {
	padding-top: 20px;
}
.footer a {
	color: #fff;
	/* font-size: 9px; */
	display: block;
}

.footer-business-card-logo,
.footer-business-card-logo img {
	max-width: 150px;
}

.footer-business-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.footer-business-card-logo {
	display: inline-block;
}

.footer-business-card-contacts {
	display: inline-block;
}

.footer-business-card-contacts-header {
	font-size: 12px;
	/* font-weight: bold; */
	color: #ffffff;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links-block {
	max-width: 250px;
	min-width: 150px;
	/* padding-right: 10px; */
	margin-bottom: 10px;
	/* padding-right: 20px; */
}

.footer-links-block a {
	font-size: 11px;
}

.footer-links-block-header {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.footer-disclaimer {
	padding-bottom: 20px;
}

.footer-disclaimer-header {
	font-size: 10px;
	font-weight: bold;
	color: #9badc5;
}

.footer-disclaimer p {
	font-size: 10px;
	color: #9badc5;
}

@media (min-width: 768px) {
	.footer.wrapper {
		padding: 0 30px;
		margin: 0 auto;
	}
	.footer-business-card {
		display: inline-block;
		/* flex-grow: 2; */
	}

	.footer-business-card-logo {
		display: block;
	}

	.footer-upper {
		display: flex;
		justify-content: space-between;
	}
	.footer-links {
		/* flex-grow: 3; */
		justify-content: flex-end;
	}

	.footer-links-block {
		max-width: 250px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
}
